<div class='container'>
  <div class='nav-wrapper'>
    <a href='/' class='brand-logo'><img src="images/logo.jpg" width="120" height="60"> Smurfit Kappa </a>
    <ul id='nav-mobile' class='right hide-on-med-and-down'>
      <li>
        <a href='/'><i class='material-icons left'>home</i> Inicio</a>
      </li>
      <li><a href='/about'>
        <i class='material-icons left'>web</i>
        Nuestro campus
      </a></li>
      </a></li>
       <li><a href='/about'>
        <i class='material-icons left'>book</i>
         Programas educativos
      </a></li>


      
     </ul>
    <!-- Visualizción de navegacion para moviles -->
    <a href='#' data-target='slide-out' class='sidenav-trigger'>
      <i class='material-icons'>menu</i>
    </a>
    <ul id='slide-out' class='sidenav'>
      <li>
        <a href='/'>
          <i class='material-icons left'>home</i>
          Inicio
        </a>
      </li>
      <li><a href='/about'>
        <i class='material-icons left'>web</i>
         Nuestro campus
      </a></li>
       <li><a href='/about'>
        <i class='material-icons left'>book</i>
         Programas educativos
      </a></li>
      </ul>
  </div>
</div>