<li>
 <a href="/projects">
    <i class="large material-icons" style="margin: 2px;">
      list
    </i>
    Programas Educativos
  </a>
</li>
<li class="divider"></li>
<li>
  <a href="/project/add">

    <i class="large material-icons" style="margin: 2px;">
      add_box
    </i>
     Contacto
  </a>
</li>
