<li>
 <a href="#">
    <i class="large material-icons" style="margin: 2px;">

    </i>
   💻 Programas Educativos
  </a>
</li>
<li class="divider"></li>
<li>
  <a href="#">

    <i class="large material-icons" style="margin: 2px;">

    </i>
    📱 Contacto
  </a>
</li>
