<class="">

<img src="images/manos.jpg" width="1100" height="160">
   <br />
   <br />

     <h1>Fundación Smurfit Kappa México A.C. </h1>
   <br />
     <p class="flow-text">Somos una organización sin fines de lucro creada en 2015 por Smurfit Kappa, para implementar proyectos
      sociales en las comunidades donde la compañía tiene presencia.</p>

    <p class="flow-text">Smurfit Kappa, es una compañía de soluciones de empaque que impulsa el éxito de los negocios.
      Trabajan con clientes para minimizar el costo total de su cadena de suministro y al hacer que sus
      productos sobresalgan respecto a su competencia. Con un modelo de economía circular y objetivos e
      stratégicos, Smurfit Kappa está comprometido con la sustentabilidad del negocio desde el corazón de
      sus operaciones.
    </p>
<br />

<div class="vc-hoverbox">
    <div class="vc-hoverbox-inner">
      <div class="vc-hoverbox-block vc-hoverbox-front" style="background-image:
      url(https://fundacionsmurfitkappa.org.mx/wp-content/uploads/2020/12/nosotros-negro.png);">
        <div class="vc-hoverbox-block-inner vc-hoverbox-front-inner">
            <h2 style="font-size: 75px;color: #ffffff;text-align:
            center;font-family:blackjar;font-weight:400;font-style:normal"
            class="vc_custom_heading ch_mobile_2" >

                     Misión

              </h2>
        </div>
      </div>
    <br />
        <div class="vc-hoverbox-block-inner vc-hoverbox-back-inner">
            <h3>Mejorar la <strong>calidad de vida y fortalecer el tejido social</strong>
            en las comunidades donde Smurfit Kappa tiene el privilegio de operar<strong>. </strong></h3>
        </div>
      </div>


  <div class="vc-hoverbox">
    <div class="vc-hoverbox-inner">
      <div class="vc-hoverbox-block vc-hoverbox-front" style="background-image:
      url(https://fundacionsmurfitkappa.org.mx/wp-content/uploads/2020/12/vision-oscura-1024x684.png);">
        <div class="vc-hoverbox-block-inner vc-hoverbox-front-inner">
            <h4 style="font-size: 75px;color: #ffffff;text-align: center;font-family:blackjar;font-weight:400;
            font-style:normal" class="vc_custom_heading ch_mobile_3" >

            Visión

            </h4>
        </div>
      </div>
        <div class="vc-hoverbox-block-inner vc-hoverbox-back-inner">
          <br />
            <h5>Para <strong>2025</strong>, ser una Asociación civil reconocida entre nuestros grupos de
            interés por la implementación de programas <strong>sociales </strong>en las comunidades donde
             tenemos presencia.</h5>
        </div>
      </div>
    </div>
  </div>
<br />


<div id="wrapper" class="relative z-10 ">
			<div class="page-title-breadcrumb border-b border-gray-300 " data-ptb="on">
		<div class="pt_mask flex items-center">
			<div class="container page-title-breadcrumb-wrap md:flex justify-between items-center mx-auto px-4 xl:px-0 py-6">
				<div class="page-title text-center md:text-left">
					<h2 class="page-title-holder leading-normal mb-1">Líneas de acción y programas</h2 class="page-title-holder leading-normal mb-1">							<div class="breadcrumb">
								<ul class="breadcrumbs block flex justify-center sm:justify-start flex-wrap text-xs leading-relaxed lowercase"><li class="inline-block sm:block mr-2"><a href="https://fundacionsmurfitkappa.org.mx"></a></li><li>Líneas de acción y programas</li></ul>							</div>
											</div>
							</div>
		</div>
	</div>

	<div class="container mx-auto">
	<div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12 "><div class="vc_column-inner"><div class="wpb_wrapper"><div class="vc_empty_space"   style="height: 32px"><span class="vc_empty_space_inner"></span></div><style type="text/css" scoped="scoped">@media screen and (max-width: 960px) {.ch_mobile_1{font-size: 45px !important;line-height:  !important;}}@media screen and (max-width: 470px) {.ch_mobile_1{font-size: 35px !important;line-height:  !important;}}</style><h6 style="font-size: 65px;color: #707270;text-align: center;font-family:Abril Fatface;font-weight:400;font-style:normal" class="vc_custom_heading ch_mobile_1" >Líneas de acción</h6><div class="vc_empty_space"   style="height: 32px"><span class="vc_empty_space_inner"></span></div><style type="text/css" scoped="scoped">.tb_counter_1 .wpb_wrapper {font-size:;font-weight:;line-height:;color:#707270;}</style>
	<div class="wpb_text_column wpb_content_element  tb_counter_1" >
		<div class="wpb_wrapper">
			<h4 style="text-align: center;">Con la misión de contribuir en el desarrollo <strong>educativo y ambiental</strong> de niños, niñas, jóvenes y adultos en las comunidades donde la compañía tiene presencia, nos enfocamos en 3 principales Líneas de Acción:</h4>

		</div>
	</div>

</div></div></div></div><div class="vc_row-full-width vc_clearfix"></div><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-4 "><div class="vc_column-inner"><class="wpb_wrapper">
	<div  class="wpb_single_image wpb_content_element vc_align_center">

		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="https://fundacionsmurfitkappa.org.mx/wp-content/uploads/2020/11/LineasDeAccion_SK_Mesa-de-trabajo-1-300x300.png" width="300" height="300" alt="" title="" /></div>
		</figure>
	</div>
<div class="vc_empty_space"   style="height: 32px"><span class="vc_empty_space_inner"></span></div><style type="text/css" scoped="scoped">.tb_counter_2 .wpb_wrapper {font-size:;font-weight:;line-height:;color:#707270;}</style>
	<div class="wpb_text_column wpb_content_element  tb_counter_2" >
		<div class="wpb_wrapper">
			<h4 style="text-align: center;">Fortalecer competencias, conocimiento y habilidades en niños, jóvenes y adultos que les permita desarrollarse en una economía globalizada.</h4>

		</div>
	</div>

</div></div></div><div class="wpb_column vc_column_container vc_col-sm-4 "><div class="vc_column-inner"><div class="wpb_wrapper">
	<div  class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="https://fundacionsmurfitkappa.org.mx/wp-content/uploads/2020/11/LineasDeAccion_SK-02-300x300.png" width="300" height="300" alt="" title="" /></div>
		</figure>
	</div>
<div class="vc_empty_space"   style="height: 32px"><span class="vc_empty_space_inner"></span></div><style type="text/css" scoped="scoped">.tb_counter_3 .wpb_wrapper {font-size:;font-weight:;line-height:;color:#707270;}</style>
	<div class="wpb_text_column wpb_content_element  tb_counter_3" >
		<div class="wpb_wrapper">
			<h4 style="text-align: center;">Concientizar a niños, jóvenes y adultos sobre el rol individual en el cuidado del medio ambiente, la importancia de un consumo responsable y del reciclaje y reúso de material.</h4>

		</div>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-4 "><div class="vc_column-inner"><div class="wpb_wrapper">
	<div  class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="https://fundacionsmurfitkappa.org.mx/wp-content/uploads/2020/11/LineasDeAccion_SK-03-300x300.png" width="300" height="300" alt="" title="" /></div>
		</figure>
	</div>
<div class="vc_empty_space"   style="height: 32px"><span class="vc_empty_space_inner"></span></div><style type="text/css" scoped="scoped">.tb_counter_4 .wpb_wrapper {font-size:;font-weight:;line-height:;color:#707270;}</style>
	<div class="wpb_text_column wpb_content_element  tb_counter_4" >
		<div class="wpb_wrapper">
			<h4 style="text-align: center;">Involucrar a la ciudadanía en diversos programas y acciones que contribuyan en el desarrollo educativo y ambiental de las comunidades donde operamos.</h4>

		</div>
	</div>
</div></div></div></div><div class="vc_row-full-width vc_clearfix">
</div><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid">
  <div class="wpb_column vc_column_container vc_col-sm-12 "><div class="vc_column-inner">
    <div class="wpb_wrapper"><div class="vc_empty_space"   style="height: 55px">
      <span class="vc_empty_space_inner">       
      </span></div><style type="text/css" scoped="scoped">@media screen and (max-width: 960px) {.ch_mobile_2{font-size: 45px !important;line-height:  !important;}}@media screen and (max-width: 470px) {.ch_mobile_2{font-size: 35px !important;line-height:  !important;}}</style><h6 style="font-size: 65px;color: #707270;text-align: center;font-family:Abril Fatface;font-weight:400;font-style:normal" class="vc_custom_heading ch_mobile_2" >
  Programas
  </h6><div class="vc_empty_space"   style="height: 35px">
    <span class="vc_empty_space_inner">

    </span></div></div></div></div></div>
    <div class="vc_row-full-width vc_clearfix">
    </div><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid">
      <div class="wpb_column vc_column_container vc_col-sm-4 "><div class="vc_column-inner"><div class="wpb_wrapper">
	<div  class="wpb_single_image wpb_content_element vc_align_center">

		<figure class="wpb_wrapper vc_figure">
			<a href="http://fundacionsmurfitkappa.org.mx/primera-infancia/" target="_self" class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="https://fundacionsmurfitkappa.org.mx/wp-content/uploads/2020/12/LOGOS_programasCCSKM_ok_01-300x150.png" width="300" height="150" alt="" title="" /></a>
		</figure>
	</div>
  </div>
</div></div></div>
<div class="wpb_column vc_column_container vc_col-sm-4 "><div class="vc_column-inner"><div class="wpb_wrapper">
	<div  class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<a href="http://fundacionsmurfitkappa.org.mx/programa-de-alto-rendimiento-academico-2/" target="_self" class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="https://fundacionsmurfitkappa.org.mx/wp-content/uploads/2020/12/LOGOS_programasCCSKM_ok-02-300x150.png" width="300" height="150" alt="" title="" /></a>
		</figure>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-4 "><div class="vc_column-inner"><div class="wpb_wrapper">
	<div  class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<a href="http://fundacionsmurfitkappa.org.mx/programa-de-actividades-extracurriculares/" target="_self" class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="https://fundacionsmurfitkappa.org.mx/wp-content/uploads/2020/12/LOGOS_programasCCSKM_ok-03-300x150.png" width="300" height="150" alt="" title="" /></a>
		</figure>
	</div>
</div></div></div></div><div class="vc_row-full-width vc_clearfix"></div><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12 "><div class="vc_column-inner"><div class="wpb_wrapper"><div class="vc_empty_space"   style="height: 60px"><span class="vc_empty_space_inner"></span></div></div></div></div></div><div class="vc_row-full-width vc_clearfix"></div><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-4 "><div class="vc_column-inner"><div class="wpb_wrapper">
	<div  class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<a href="http://fundacionsmurfitkappa.org.mx/plan-semilla/" target="_self" class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="https://fundacionsmurfitkappa.org.mx/wp-content/uploads/2020/12/Plan-Semilla-Color-1-e1608173773802.png" width="270" height="100" alt="" title="" /></a>
		</figure>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-4 "><div class="vc_column-inner"><div class="wpb_wrapper">
	<div  class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<a href="http://fundacionsmurfitkappa.org.mx/educacion-continua-sk/" target="_self" class="vc_single_image-wrapper   vc_box_border_grey"><img width="300" height="88" src="https://fundacionsmurfitkappa.org.mx/wp-content/uploads/2020/12/EDUCACIONcontinuaLOGO_FINAL_2020-01-1hor-300x88.png" class="vc_single_image-img attachment-medium" alt="" loading="lazy" title="" srcset="https://fundacionsmurfitkappa.org.mx/wp-content/uploads/2020/12/EDUCACIONcontinuaLOGO_FINAL_2020-01-1hor-300x88.png 300w, https://fundacionsmurfitkappa.org.mx/wp-content/uploads/2020/12/EDUCACIONcontinuaLOGO_FINAL_2020-01-1hor-1024x299.png 1024w, https://fundacionsmurfitkappa.org.mx/wp-content/uploads/2020/12/EDUCACIONcontinuaLOGO_FINAL_2020-01-1hor-768x224.png 768w, https://fundacionsmurfitkappa.org.mx/wp-content/uploads/2020/12/EDUCACIONcontinuaLOGO_FINAL_2020-01-1hor-1536x449.png 1536w, https://fundacionsmurfitkappa.org.mx/wp-content/uploads/2020/12/EDUCACIONcontinuaLOGO_FINAL_2020-01-1hor-2048x599.png 2048w, https://fundacionsmurfitkappa.org.mx/wp-content/uploads/2020/12/EDUCACIONcontinuaLOGO_FINAL_2020-01-1hor-600x175.png 600w, https://fundacionsmurfitkappa.org.mx/wp-content/uploads/2020/12/EDUCACIONcontinuaLOGO_FINAL_2020-01-1hor-e1608518370335.png 460w" sizes="(max-width: 300px) 100vw, 300px" /></a>
		</figure>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-4 "><div class="vc_column-inner"><div class="wpb_wrapper">
	<div  class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="https://fundacionsmurfitkappa.org.mx/wp-content/uploads/2021/03/logo_aulas_conFndacion_OK_03-270x150.png" width="270" height="150" alt="logo_aulas_conFndacion_OK_03" title="logo_aulas_conFndacion_OK_03" /></div>
		</figure>
	</div>
</div></div></div></div><div class="vc_row-full-width vc_clearfix"></div><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12 "><div class="vc_column-inner"><div class="wpb_wrapper"><div class="vc_empty_space"   style="height: 60px"><span class="vc_empty_space_inner"></span></div></div></div></div></div><div class="vc_row-full-width vc_clearfix"></div><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-4 "><div class="vc_column-inner"><div class="wpb_wrapper">
	<div  class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<a href="http://fundacionsmurfitkappa.org.mx/educacion-continua-sk/" target="_self" class="vc_single_image-wrapper   vc_box_border_grey"><img width="300" height="143" src="https://fundacionsmurfitkappa.org.mx/wp-content/uploads/2022/06/logo_TuBasura_ok-300x143.png" class="vc_single_image-img attachment-medium" alt="" loading="lazy" title="logo_TuBasura_ok" srcset="https://fundacionsmurfitkappa.org.mx/wp-content/uploads/2022/06/logo_TuBasura_ok-300x143.png 300w, https://fundacionsmurfitkappa.org.mx/wp-content/uploads/2022/06/logo_TuBasura_ok-600x285.png 600w, https://fundacionsmurfitkappa.org.mx/wp-content/uploads/2022/06/logo_TuBasura_ok.png 755w" sizes="(max-width: 300px) 100vw, 300px" /></a>
		</figure>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-4 "><div class="vc_column-inner"><div class="wpb_wrapper">
	<div  class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<a href="http://fundacionsmurfitkappa.org.mx/la-magia-del-papel/" target="_self" class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="https://fundacionsmurfitkappa.org.mx/wp-content/uploads/2020/12/La-Magia-del-Papel-e1608174077804.png" width="150" height="117" alt="" title="" /></a>
		</figure>
	</div>
</div></div></div><div class="wpb_column vc_column_container vc_col-sm-4 "><div class="vc_column-inner"><div class="wpb_wrapper">
	<div  class="wpb_single_image wpb_content_element vc_align_center">
		
		<figure class="wpb_wrapper vc_figure">
			<a href="http://fundacionsmurfitkappa.org.mx/sumate/" target="_self" class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="https://fundacionsmurfitkappa.org.mx/wp-content/uploads/2020/12/Sumate-150x150.png" width="150" height="150" alt="" title="" /></a>
		</figure>
	</div>
</div></div></div></div><div class="vc_row-full-width vc_clearfix"></div><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12 "><div class="vc_column-inner"><div class="wpb_wrapper"><div class="vc_empty_space"   style="height: 60px"><span class="vc_empty_space_inner"></span></div></div></div></div></div><div class="vc_row-full-width vc_clearfix"></div><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12 "><div class="vc_column-inner"><div class="wpb_wrapper"><style type="text/css" scoped="scoped">.tb_counter_5 .wpb_wrapper {font-size:;font-weight:;line-height:;color:;}</style>
	<div class="wpb_text_column wpb_content_element  tb_counter_5" >
		<div class="wpb_wrapper">

		</div>
	</div>
</div></div></div></div><div class="vc_row-full-width vc_clearfix"></div><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12 "><div class="vc_column-inner"><div class="wpb_wrapper">
	<div id="specialImage" class="wpb_single_image wpb_content_element vc_align_left   specialImage">

		<figure class="wpb_wrapper vc_figure">
			<a href="http://fundacionsmurfitkappa.org.mx/donativos/" target="_blank" class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="https://fundacionsmurfitkappa.org.mx/wp-content/uploads/2020/12/DONATIVO-SMURFIT-e1608230595743-125x71.png" width="125" height="71" alt="" title="" /></a>
		</figure>
	</div>
</div></div></div></div><div class="vc_row-full-width vc_clearfix"></div>
</div>
</div> <!-- closing the <div id="wrapper"> opened in header.php -->

		<div class="footer-copyright container mx-auto px-4 py-4 xl:px-0 block lg:flex justify-between items-center">
			<div class="copyright text-center lg:text-left ">
							</div>

					</div>

	</footer>
	</div>

<div class="card-panel">
    <span class="blue-text text-darken-2"> 
      <footer class="footer">
									<div class="footer_widget pt-5">
					<div id="footer_widget_inside" class="container md:grid md:grid-cols-3 gap-12 mx-auto py-6 px-4 xl:px-0">
</ul></div></div><div class="footer_widget_content mb-6"><h3 class="footer-widget-title mb-6">Fundación Smurfit Kappa México A.C. </h3>		<div class="contact">
			<ul class=>
									<li class="address relative pl-8 mb-4"><i class="fa fa-globe"></i>Terret Torre Norte Piso 8 en Miguel de Cervantes Saavedra 301, Colonia Granada, Ciudad de México, México. C.P. 11520</li>

									<li class="phone relative pl-8 mb-4">
						<i class="fa fa-phone"></i>
						<span class="block">Phone:+52 55 57 29 23 00 Ext. 1323</span>
											</li>

									<li class="email relative pl-8 mb-4">
						<i class="fa fa-envelope-open"></i>
						<span class="block">Email: <a href="mailto:fundacion@smurfitkappa.com.mx">fundacion@smurfitkappa.com.mx</a></span>
											</li>
								</ul>
		</div>
       </span>
  </div>
<br />
<div class="card-panel">
    <span class="blue-text text-darken-2"> 
</div><div class="footer_widget_content mb-6"><h3 class="footer-widget-title mb-6">Centro Comunitario SK</h3>		<div class="contact">
			<ul class=>
									<li class="address relative pl-8 mb-4"><i class="fa fa-globe"></i>Miguel Hidalgo S/N Lote 2, Miguel Hidalgo Ecatepec de Morelos, Estado de México. C.P. 55490 </li>

									<li class="phone relative pl-8 mb-4">
						<i class="fa fa-phone"></i>
						<span class="block">Phone:+52 5545205072</span>
											</li>
					
									<li class="email relative pl-8 mb-4">
						<i class="fa fa-envelope-open"></i>
						<span class="block">Email: <a href="mailto:CentroComunitario@fundacionsmurfitkappa.org.mx">CentroComunitario@fundacionsmurfitkappa.org.mx</a></span>
											</li>
								</ul>
		</div>
		</div>					</div>
				</div>
       </span>
  </div>
<br />
    <blockquote>
      <p>Version: {{ appVersion }}</p>
    </blockquote>


</div>




