<class="">

<img src="images/manos.jpg" width="1100" height="160">
   <br />
   <br />

     <h1>Fundaci칩n Smurfit Kappa M칠xico A.C. </h1>
   <br />
     <p class="flow-text">Somos una organizaci칩n sin fines de lucro creada en 2015 por Smurfit Kappa, para implementar proyectos
      sociales en las comunidades donde la compa침칤a tiene presencia.</p>

    <p class="flow-text">Smurfit Kappa, es una compa침칤a de soluciones de empaque que impulsa el 칠xito de los negocios.
      Trabajan con clientes para minimizar el costo total de su cadena de suministro y al hacer que sus
      productos sobresalgan respecto a su competencia. Con un modelo de econom칤a circular y objetivos e
      strat칠gicos, Smurfit Kappa est치 comprometido con la sustentabilidad del negocio desde el coraz칩n de
      sus operaciones.
    </p>
<br />

<div class="vc-hoverbox">
    <div class="vc-hoverbox-inner">
      <div class="vc-hoverbox-block vc-hoverbox-front" style="background-image:
      url(https://fundacionsmurfitkappa.org.mx/wp-content/uploads/2020/12/nosotros-negro.png);">
        <div class="vc-hoverbox-block-inner vc-hoverbox-front-inner">
            <h2 style="font-size: 75px;color: #ffffff;text-align:
            center;font-family:blackjar;font-weight:400;font-style:normal"
            class="vc_custom_heading ch_mobile_2" >

                     Misi칩n

              </h2>
        </div>
      </div>
    <br />
        <div class="vc-hoverbox-block-inner vc-hoverbox-back-inner">
            <h3>Mejorar la <strong>calidad de vida y fortalecer el tejido social</strong>
            en las comunidades donde Smurfit Kappa tiene el privilegio de operar<strong>. </strong></h3>
        </div>
      </div>


  <div class="vc-hoverbox">
    <div class="vc-hoverbox-inner">
      <div class="vc-hoverbox-block vc-hoverbox-front" style="background-image:
      url(https://fundacionsmurfitkappa.org.mx/wp-content/uploads/2020/12/vision-oscura-1024x684.png);">
        <div class="vc-hoverbox-block-inner vc-hoverbox-front-inner">
            <h4 style="font-size: 75px;color: #ffffff;text-align: center;font-family:blackjar;font-weight:400;
            font-style:normal" class="vc_custom_heading ch_mobile_3" >

            Visi칩n

            </h4>
        </div>
      </div>
        <div class="vc-hoverbox-block-inner vc-hoverbox-back-inner">
          <br />
            <h5>Para <strong>2025</strong>, ser una Asociaci칩n civil reconocida entre nuestros grupos de
            inter칠s por la implementaci칩n de programas <strong>sociales </strong>en las comunidades donde
             tenemos presencia.</h5>
        </div>
      </div>
    </div>
  </div>
<br />

<h2><strong>L칤neas de acci칩n y programas</strong></h2>

			<h5 style="text-align: center;">Con la misi칩n de contribuir en el desarrollo <strong>educativo y ambiental</strong> de ni침os, ni침as, j칩venes y adultos en las comunidades donde la compa침칤a tiene presencia, nos enfocamos en 3 principales L칤neas de Acci칩n:</h5>

		<div  class="wpb_single_image wpb_content_element vc_align_center">

		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey">
        <img class="vc_single_image-img "
        src="https://fundacionsmurfitkappa.org.mx/wp-content/uploads/2020/11/LineasDeAccion_SK_Mesa-de-trabajo-1-300x300.png"
         width="300" height="300" alt="" title="" />

			<h4 style="text-align: center;">Fortalecer competencias, conocimiento y habilidades en ni침os,
        j칩venes y adultos que les permita desarrollarse en una econom칤a globalizada.</h4>


<div  class="wpb_single_image wpb_content_element vc_align_center">

		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey">
        <img class="vc_single_image-img "
        src="https://fundacionsmurfitkappa.org.mx/wp-content/uploads/2020/11/LineasDeAccion_SK-03-300x300.png"
        width="300" height="300" alt="" title="" /></div>
		</figure>
	</div>

			<h4 style="text-align: center;">Involucrar a la ciudadan칤a en diversos programas y acciones
        que contribuyan en el desarrollo educativo y ambiental de las comunidades donde operamos.</h4>

		</div>
	</div>
<div  class="wpb_single_image wpb_content_element vc_align_center">

		<figure class="wpb_wrapper vc_figure">
			<div class="vc_single_image-wrapper   vc_box_border_grey"><img class="vc_single_image-img " src="https://fundacionsmurfitkappa.org.mx/wp-content/uploads/2020/11/LineasDeAccion_SK-02-300x300.png" width="300" height="300" alt="" title="" /></div>
		</figure>
	</div>
<div class="wpb_text_column wpb_content_element  tb_counter_3" >
		<div class="wpb_wrapper">
			<h4 style="text-align: center;">Concientizar a ni침os, j칩venes y adultos sobre el rol individual en el cuidado del medio ambiente, la importancia de un consumo responsable y del reciclaje y re칰so de material.</h4>

		</div>
	</div>
  <br />
  <br />
<iframe width="660" height="415"
src="https://youtu.be/bS3AvdZ-WJk"
frameborder="0"
allow="accelerometer; autoplay;
encrypted-media; gyroscope;
picture-in-picture"
allowfullscreen>
</iframe>




 </div>
  </div>


<div class="card-panel">
    <span class="blue-text text-darken-2"> 游닇 Autor: Garcia Tellez Maria Luisa  </span>
  </div>
<br />
    <blockquote>
      <p>Version: {{ appVersion }}</p>
    </blockquote>


</div>
