<div class="">
   <br />
   <br />
  <li><a href='#'>
        <i class='material-icons left'>content_paste</i>
        Acerca de materialize
      </a></li>
      <p class="flow-text">Creado y dise침ado por Google, Material Design
        es un lenguaje de dise침o que combina los principios cl치sicos del
        dise침o exitoso junto con la innovaci칩n y la tecnolog칤a</p>
<br />
<li><a href='#'>
        <i class='material-icons left'>publicar</i>
        Principios
      </a></li>
      <p class="flow-text">Creado y dise침ado por Google, Material Design
        es un lenguaje de dise침o que combina los principios cl치sicos del
        dise침o exitoso junto con la innovaci칩n y la tecnolog칤a</p>
<br />

<div class="card-panel">
    <span class="blue-text text-darken-2"> 游닇 Autor: Garcia Tellez Maria Luisa  </span>
  </div>
<br />
    <blockquote>
      <p>Version: {{ appVersion }}</p>
    </blockquote>


</div>
