<div class="">
<img src="images/manos.jpg" width="1100" height="160">
   <br />
   <br />
   <h1>Fundaci贸n Smurfit Kappa M茅xico A.C. </h1>
   <br />
   <p class="flow-text">Somos una organizaci贸n sin fines de lucro creada en 2015 por Smurfit Kappa, para implementar proyectos
      sociales en las comunidades donde la compa帽铆a tiene presencia.</p>

    <p class="flow-text">Smurfit Kappa, es una compa帽铆a de soluciones de empaque que impulsa el 茅xito de los negocios.
    Trabajan con clientes para minimizar el costo total de su cadena de suministro y al hacer que sus
    productos sobresalgan respecto a su competencia. Con un modelo de econom铆a circular y objetivos e
    strat茅gicos, Smurfit Kappa est谩 comprometido con la sustentabilidad del negocio desde el coraz贸n de
    sus operaciones.
    </p>
<br />
<p style="text-align: center;"><img src="images/logo.jpg" width="400" height="150"></p>
<br />
<li>
<i class='material-icons left'>build</i>
          Misi贸n
</li>

      <p class="flow-text">Mejorar la calidad de vida y fortalecer el tejido social en las comunidades
        donde Smurfit Kappa tiene el privilegio de operar</p>
<br />
<li>
<i class='material-icons left'>build</i>
          Visi贸n
</li>
 <p class="flow-text">Para 2025, ser una Asociaci贸n civil reconocida entre nuestros grupos de inter茅s por la implementaci贸n
  de programas sociales en las comunidades donde tenemos presencia</p>


<li>
<i class='material-icons left'>build</i>
<font face="Baguet Script">
          Zonas de influencia
          </font>
</li>


<div class="card-panel">
    <span class="blue-text text-darken-2">  Autor: Garcia Tellez Maria Luisa  </span>
  </div>
<br />
    <blockquote>
      <p>Version: {{ appVersion }}</p>
    </blockquote>


</div>





