<div class="">
   <br />
   <br />
   <img src="images/manos.jpg" width="400" height="150">
   <h1>Fundaci贸n Smurfit Kappa M茅xico A.C. </h1>
   <br />
   <p class="flow-text">El Centro Comunitario SK es un espacio de interacci贸n social ubicado en
    Ecatepec de Morelos, Estado de M茅xico. Con el objetivo de promover el desarrollo integral de ni帽os, ni帽as y
    j贸venes de la zona, el Centro ofrece diversos programas, presenciales y en l铆nea, enfocados en Educaci贸n,
    Desarrollo Psicosocial, Cuidado Ambiental e inversi贸n del tiempo libre, entre los que est谩n:</p>

<img src="images/infancia.jpg" width="400" height="150">


<br />
<div class="card-panel">
    <span class="blue-text text-darken-2">  Autor: Garcia Tellez Maria Luisa  </span>
  </div>
<br />
    <blockquote>
      <p>Version: {{ appVersion }}</p>
    </blockquote>


</div>
